.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #192026;
  color: white;
}

.logo {
  font-size: 1.8rem;
}

.list-menu{
  display: flex;
  gap: 100px;
}
.header nav a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.header nav a:hover {
  text-decoration: underline;
}

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 100px 8px 18px;
  gap: 10px;

  width: 174.58px;
  height: 28px;

  background: #1D1D1D;
  border-radius: 37px;
}